h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.logo {
    font-family: "Raleway",
        sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

.logo-b {

    color: #2e2f42;


}

.two {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: black;

}

.head-list {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.body-style {
    font-family: "Roboto",
        sans-serif;
    color: #434455;
    background-color: #FFFFFF
}

.link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0 24px;
    display: block;
}

.link:hover {
    color: #404bbf
}

.link:focus {
    color: #404bbf
}

/* adress */
.info {
    font-style: normal;
    margin-left: auto;

}

.link-info {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.link-info:hover {
    color: #404bbf;
}

.link-info:focus {
    color: #404bbf;
}

/* HEADER */
.head-start {
    border-bottom: 1px solid #e7e9fc;
}

.head-div {
    display: flex;
    align-items: center
}

.container {
    width: 1158px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
}

.nav-class {
    display: flex;
    align-items: center;
}

.head-list {
    display: flex;
    gap: 40px;

}

.add-list {
    display: flex;
    gap: 40px;
}

/* SECTION 1 */
.sect {
    background-color: #2e2f42;
    padding: 188px 0 188px;
}

.sect-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 53px;
}

.sect-button {
    background-color: #4D5AE5;
    font-family: "Roboto",
        sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;

}

.sect-button:hover {
    background-color: #404BBF;
}

.sect-button:focus {
    background-color: #404BBF
}

/* SECTION 2 */


.sect-t {
    padding: 120px 0 120px;

}

.sectt-l {
    display: flex;
    gap: 24px;

}

.list-one {
    width: calc((100% - 72px) / 4);
}

.sect-two {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.sect-two-p {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* SECTION 3 */
.sect-tree {
    padding: 120px 0 120px;
    background-color: #f4f4fd;


}

.sect-tree-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.namep {
    padding: 32px 0 32px;
}

.sect-treeh {
    text-align: center;
    margin-bottom: 8px;
}

.sect-l-two {
    display: flex;
    gap: 24px;
}

.sect-tree-list {
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;

}


.sect-tree-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.sect-tree-pt {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

/* FOOTER */
.foot {
    background-color: #2e2f42
}

.foot-p {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.spp {
    font-family: "Raleway",
        sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.span-logo {
    color: #f4f4fd
}

/* SECTION4 */
.sect-four {
    padding-top: 120px;
    padding-bottom: 120px;
}

.sect-four-title {
    margin-bottom: 72px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
}

.list-four {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.list-foure {
    width: calc((100% - 48px) / 3);

}

.div-four {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}


/* footer */
.foot {
    padding: 100px 0;

}

.logotwo {
    display: inline-block;
    margin-bottom: 16px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}

.logoone {
    font-family: "Raleway",
        sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    display: inline-block;
    margin-bottom: 16px;
}